name = "NURBS"
uuid = "add2e4f6-8b0c-4d1e-9f3a-5b7c6d8e0f12"
authors = ["NURBS.jl Contributors"]
version = "0.1.0"

[deps]
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"

[compat]
julia = "1.6"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
